<section class="page-not-found w-full bg-[#000000] mt-[3.5vw] p-[8.8vw]">
    <div class="404 ">
        <div class="error flex justify-center items-center flex-col">
            <span class="font-roboto font-light
             text-[16vw] xsm:text-[8vw] text-[white]
             sm:text-[8vw]  md:text-[5vw]  lg:text-[5vw]  xl:text-[5vw]" 
             >404</span>
            <h1 class="font-roboto font-light text-[10vw] xsm:text-[8vw]
             sm:text-[8vw]  md:text-[3vw]  lg:text-[2vw]  xl:text-[2vw] text-[white]
            ">This site can’t be reached</h1>
             <h1 class="font-roboto font-light text-[10vw] xsm:text-[8vw]
             sm:text-[8vw]  md:text-[3vw]  lg:text-[2vw]  xl:text-[2vw]
             text-[red]">Page not found</h1>
        </div>
    </div>
</section>
