<footer class="w-full sm:w-full md:w-full lg:w-full bg-gray-dark h-ful mt-auto bg-subscrib ">
    <div class="footer-items flex justify-center items-center gap-4 flex-col p-3">
        <div class="logo">
            <a href="/" 
            class="text-[6vw] sm:text-[3vw] md:text-[2.7vw] lg:text-[2.4vw] xl:text-[1.6vw]
             cursor-pointer font-roboto font-medium uppercase">Blog</a>
        </div>
        <div class="social-media-icons ">
            <ul class="flex justify-center items-center gap-3">
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="{{SocialmediaUrl.facebook}}" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="{{SocialmediaUrl.instagram}}" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="https://x.com/" target="_blank">
                        <img src="{{SocialmediaUrl.x}}" alt="X">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="{{SocialmediaUrl.linkedin}}" alt="linkedin">
                    </a>
                </li>

            </ul>
        </div>
        <div class="sub-footer">
            <address>
                <p>
                    Copyright ©2025 All rights reserved
                </p>
            </address>
        </div>
    </div>
</footer>
