<div class="blog-post-card-body w-full xsm:w-full sm:w-full md:w-[300px] lg:w-[380px]
     xl:w-[300px] 2xl:w-[400px] shadow-md rounded-md">
    <div class="wrapper-card flex flex-col justify-start items-start w-full">

        <div class=" top-content intro flex flex-col justify-start items-start w-full">
            <div class="card-image w-full">
                <img class="w-full xsm:w-full sm:w-full md:w-full  lg:w-full xl:w-full 2xl:w-full  h-[150px]
                      object-cover bg-cover bg-no-repeat bg-center 
                      hover:opacity-90 overflow-hidden" src="{{displayPost.image}}" alt="image post">
            </div>
        </div>

        <div class="bottom-content bg-[white] hover:opacity-60] p-1 w-full ">
            <div class="details-post flex justify-start items-center gap-3 p-2">

                <div class="card-category">
                    <a class="cursor-pointer">
                        <small
                            class="font-roboto font-medium text-[2.6vw] xsm:text-[2.8vw] sm:text-[2vw]
                         md:text-[1.7vw] lg:text-[1.3vw] xl:text-[0.9vw] hover:text-[#333232]">{{displayPost.blogcategory}}</small>
                    </a>
                </div>

                <!-- <div class="card-featured-mark">
                    <a class="cursor-pointer">
                        <small class="font-roboto font-medium text-[2.6vw] xsm:text-[2.8vw] sm:text-[2vw]
                         md:text-[1.7vw] lg:text-[1.3vw] xl:text-[0.9vw] hover:text-[#333232]">Featured</small>
                    </a>
                </div> -->

                <div class="post-view-users">
                    <span class="cursor-pointer ">
                        <small class="font-roboto font-medium text-[2.6vw] xsm:text-[2.8vw] sm:text-[2vw] flex justify-center items-center gap-1
                         md:text-[1.7vw] lg:text-[1.3vw] xl:text-[0.9vw] hover:text-[#333232]">
                            <img class="w-[20px] xsm:w-[20px] sm:w-[22px] md:w-[22px] lg-w-[22px] xl:w-[18px] hover:opacity-80"
                                src="assets/icons/view.png" alt="view"><span></span>
                        </small>
                    </span>
                </div>

                <div class="card-like-mark">
                    <a class="cursor-pointer">
                        <small class="font-roboto font-medium text-[2.6vw] xsm:text-[2.8vw] sm:text-[2vw] flex justify-center items-center gap-1
                         md:text-[1.7vw] lg:text-[1.3vw] xl:text-[0.9vw] hover:text-[#333232]">
                            <img class="w-[20px] xsm:w-[20px] sm:w-[22px] md:w-[22px] lg-w-[22px] xl:w-[18px] hover:opacity-80"
                                src="assets/icons/heart.png" alt="heart">
                        </small>
                    </a>
                </div>

            </div>
            <div class="card-content flex flex-col justify-start items-start">

                <div class="heading w-full p-1">
                    <a class="cursor-pointer">
                        <h4 class="font-roboto font-bold tracking-wide overflow-clip
                text-[5vw] xsm:text-[4.3vw] sm:text-[3.2vw] md:text-[2.3vw]
                 lg:text-[2.6vw] xl:text-[1.3vw] 2xl::text-[1.2vw] hover:text-[#333232]">
                            {{displayPost.title}}
                        </h4>
                    </a>
                </div>

                <div class="paragraph w-full p-1">
                    <a class="cursor-pointer">
                        <p class="font-roboto font-light tracking-wide
                text-[4.5vw] xsm:text-[4.3vw] sm:text-[2.5vw] md:text-[2.3vw] lg:text-[2vw]
                 xl:text-[1vw] 2xl::text-[1.2vw] hover:text-[#333232] ">
                            {{displayPost.description}}
                        </p>
                    </a>
                </div>

            </div>
            <!-- <div class="card-date-update flex justify-start items-center gap-1 mt-1">
                <div class="post-last-update p-1">
                    <small class="font-roboto font-medium 
                text-[4vw] xsm:text-[3.2vw] sm:text-[3vw] md:text-[2.4vw] lg:text-[1.4vw]
                 xl:text-[0.9vw] 2xl::text-[1.2vw] ">Date:</small>
                </div>
                <div class="card-publish-date">
                    <small class="Day font-roboto font-light
                text-[4vw] xsm:text-[3.2vw] sm:text-[3vw] md:text-[2.4vw] lg:text-[1.4vw]
                 xl:text-[0.8vw] 2xl::text-[1.2vw] "></small>
                </div>
            </div> -->
            <div class="post-buttons flex justify-start items-center p-2 gap-5">
                <div>
                    <a [routerLink]="['/blog/edit', displayPost.id]"
                    class="px-3 py-[0.8vw] tracking-wider cursor-pointer text-[white] bg-[#000000]
                         hover:bg-[#0d1b2a] rounded-md font-roboto font-medium">
                         Edit Post
                    </a>
                </div>
                <div>
                    <button class="px-3 py-[0.6vw] tracking-wider text-[white] bg-[#e63946] hover:bg-[#e63966] rounded-md font-roboto font-medium"
                        (click)="deleteblogPost()">Delete Post</button>
                </div>
            </div>
        </div>
    </div>
</div>