<section class="subscribe-form flex justify-center items-center p-2 sm:p-3 md:p-3 lg:p-3 xl:p-2" role="form">
    <div class="users-subscription-form flex justify-center items-center flex-col gap-1 w-[600px] p-3">
        <div class="heading">
            <h2 class="text-[4vw] sm:text-[3vw] md:text-[2.5vw]
             lg:text-[2.3vw] xl:text-[2vw] font-roboto font-light
              tracking-normal">Subscriptions Form</h2>
        </div>
        <div class="intro">
            <p class="text-[3.3vw] sm:text-[3vw] md:text-[1.4vw] lg:text-[1.2vw]
             xl:text-[1.2vw] text-center font-roboto font-light tracking-normal">
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quae deleniti, est numquam maxime
                quaerat perspiciatis inventore? Eveniet, excepturi quasi!
            </p>
        </div>
        <form class="p-2 w-full">
            <div class=" w-full input flex justify-between flex-col md:flex-col 
            lg:flex-col xl:flex-col 2xl:flex-col items-center gap-2" role="form">
                <label for="name"></label>
                <input class="w-full lg:w-[100%] xl:w-[100%] p-2 rounded-md placeholder:font-roboto 
                outline-none"
                 type="text" name="name" id="name" placeholder="Your Name">
                <label for="email"></label>
                <input class="w-full  p-2 rounded-md outline-none placeholder:font-roboto " type="email" name="email" id="email" placeholder="Your Email">
                <button class="mt-2 sm:m-2 md:m-0 lg:m-2 xl:m-2 cursor-pointer font-light font-roboto bg-primary 
                rounded-md px-4 py-2 text-[3vw] sm:text-[2vw]
                  md:text-[1.8vw] lg:text-[1.5vw] xl:text-[1.2vw]" 
                  type="submit">Subscribe</button>
            </div>
        </form>
    </div>
</section>