<div class="blogs-post-section w-full h-auto  mt-10" aria-label="section">
    <section class="blogs-post-items">
        <div class="section-intro flex justify-center items-start gap-1 flex-col p-10
       bg-[#cbc0d3]
        pl-3 xsm:pl-0 sm:pl-8 md:pl-12 lg:pl-14 xl:pl-24 2xl:pl-26
        ">
            <div class="blogs-post-heading">
                <h2 class="font-roboto font-light
                text-[6vw] xsm:text-[6vw] sm:text-[5vw]
                 md:text-[3.6vw] lg:text-[3vw] xl:text-[2.2vw] ">Blogs</h2>
            </div>
            <div class="blogs-post-intro">
                <p class="font-roboto font-light
                 text-[4vw] xsm:text-[4vw] sm:text-[3.4vw]
                  md:text-[2.2vw] lg:text-[1.4vw] xl:text-[1.5vw] ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, aperiam!</p>
            </div>
        </div>

        <div class="display-posts-blogs p-5 mt-10
        flex justify-center items-center gap-10 flex-wrap ">
            <div class="post-type">
                <app-post-card></app-post-card>
            </div>
            <div class="post-type">
                <app-post-card></app-post-card>
            </div>
            <div class="post-type">
                <app-post-card></app-post-card>
            </div>
            <div class="post-type">
                <app-post-card></app-post-card>
            </div>
            <div class="post-type">
                <app-post-card></app-post-card>
            </div>
            <div class="post-type">
                <app-post-card></app-post-card>
            </div>
        </div>
    </section>
</div>